<div class="window window-contact" id="modal-contacts">
    <div class="window-header">
        <div class="window-header-back">
            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 16.5L1 9L9 1.5" stroke="#6DE786" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span>Назад</span>
        </div>
        <!-- /.window-header-back -->
        <div class="window-header-title">
            Контакты
        </div>
        <!-- /.window-header-title -->
    </div>
    <!-- /.window-header -->
    <div class="window-content">
        <div class="contact-card">
            <div class="contact-card-logo">
                <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="78" height="78" rx="39" fill="#6DE786"/>
                    <path d="M25.6015 53.6667V61H57L47.2556 45.8095C51.3158 42.9286 54.0225 38.2143 54.0225 32.9762C54.0225 24.0714 46.7143 17 37.5113 17C28.3083 17 21 24.0714 21 32.9762C21 41.881 28.3083 48.9524 37.5113 48.9524C38.3233 48.9524 39.406 48.9524 40.218 48.6905L43.4662 53.6667H25.6015ZM28.8496 32.9762C28.8496 28.2619 32.9098 24.3333 37.7819 24.3333C42.6541 24.3333 46.7143 28.2619 46.7143 32.9762C46.7143 37.6905 42.6541 41.619 37.7819 41.619C32.9098 41.619 28.8496 37.6905 28.8496 32.9762Z" fill="black"/>
                </svg>
            </div>
            <!-- /.contact-card-logo -->
            <div class="contact-card-phone">
                <a {% verbatim %}:href="`tel:${ contacts?.phones ? contacts?.phones[0] : '+7 499 340 33 83' }`{% endverbatim %}">
                    {% verbatim %}
                                {{ contacts?.phones ? contacts?.phones[0] : '+7 499 340 33 83' }}
                            {% endverbatim %}
                </a>
            </div>
            <!-- /.contact-card-phone -->
            <div class="contact-card-name">
                Blacklight
            </div>
            <!-- /.contact-card-name -->
            <div class="contact-card-social">
                <div class="contact-card-social-item">
                    <a target="_blank" {% verbatim %}:href="socials?.find(elem => elem.slug == 'youtube')?.url || ''"{% endverbatim %}>
                        <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5224 15.6352L11.5213 8.8439L18.0062 12.2514L11.5224 15.6352ZM25.7605 7.6674C25.7605 7.6674 25.526 6.00179 24.8063 5.26831C23.8937 4.30563 22.8707 4.30085 22.4016 4.24451C19.0432 4 14.0053 4 14.0053 4H13.9949C13.9949 4 8.95715 4 5.59858 4.24451C5.12944 4.30085 4.10684 4.30563 3.19388 5.26831C2.4743 6.00179 2.24013 7.6674 2.24013 7.6674C2.24013 7.6674 2.00012 9.62338 2.00012 11.5793V13.413C2.00012 15.369 2.24013 17.3249 2.24013 17.3249C2.24013 17.3249 2.4743 18.9906 3.19388 19.724C4.10684 20.6867 5.30608 20.6563 5.84022 20.7572C7.76024 20.9426 14.0001 21 14.0001 21C14.0001 21 19.0432 20.9924 22.4016 20.7479C22.8707 20.6915 23.8937 20.6867 24.8063 19.724C25.526 18.9906 25.7605 17.3249 25.7605 17.3249C25.7605 17.3249 26.0001 15.369 26.0001 13.413V11.5793C26.0001 9.62338 25.7605 7.6674 25.7605 7.6674Z" fill="#6DE786"/>
                        </svg>
                        <span>
                            youtube
                        </span>
                    </a>
                </div>
                <!-- /.contact-card-social-item -->
                <div class="contact-card-social-item">
                    <a target="_blank" {% verbatim %}:href="socials?.find(elem => elem.slug == 'telegram')?.url || ''"{% endverbatim %}>
                        <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.61892 8.59765C9.01202 5.34522 18.5793 1.37984 19.8999 0.831007C23.3641 -0.605495 24.4271 -0.330195 23.8971 2.85105C23.5165 5.13757 22.4182 12.7077 21.5429 17.4196C21.0235 20.2138 19.8581 20.545 18.0258 19.3361C17.1446 18.7543 12.6968 15.8131 11.7315 15.1225C10.8503 14.4931 9.63498 13.736 11.1591 12.2448C11.7015 11.7136 15.2569 8.31882 18.0269 5.67641C18.3899 5.32934 17.934 4.75933 17.5152 5.03757C13.7815 7.5135 8.60496 10.9501 7.94612 11.3977C6.9508 12.0736 5.9949 12.3836 4.27898 11.8907C2.98248 11.5183 1.71598 11.0742 1.22303 10.9048C-0.675247 10.253 -0.224649 9.40884 1.61892 8.59765Z" fill="#6DE786"/>
                        </svg>
                        <span>
                            telegram
                        </span>
                    </a>
                </div>
                <!-- /.contact-card-social-item -->
                <div class="contact-card-social-item">
                    <a target="_blank" {% verbatim %}:href="socials?.find(elem => elem.slug == 'tiktok')?.url || ''"{% endverbatim %}>
                        <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.4829 2C18.8129 4.83809 20.397 6.53015 23.1511 6.71015V9.90226C21.555 10.0583 20.157 9.53624 18.5309 8.55221V14.5224C18.5309 22.1067 10.2626 24.4767 6.93848 19.0406C4.80241 15.5424 6.11046 9.40424 12.9627 9.15823V12.5243C12.4407 12.6083 11.8827 12.7403 11.3726 12.9144C9.84859 13.4304 8.98456 14.3964 9.22457 16.1005C9.68658 19.3646 15.6748 20.3306 15.1768 13.9524V2.006H18.4829V2Z" fill="#6DE786"/>
                        </svg>
                        <span>
                            tik tok
                        </span>
                    </a>
                </div>
                <!-- /.contact-card-social-item -->
                <div class="contact-card-social-item">
                    <a {% verbatim %}:href="`tel:${ contacts?.phones ? contacts?.phones[0] : '+7 499 340 33 83' }`{% endverbatim %}">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 14.2159C18 14.446 17.9574 14.7464 17.8722 15.1172C17.7869 15.4879 17.6974 15.7798 17.6037 15.9929C17.4247 16.419 16.9048 16.8707 16.044 17.348C15.2429 17.7827 14.4503 18 13.6662 18C13.4361 18 13.2102 17.9851 12.9886 17.9553C12.767 17.9254 12.522 17.8722 12.2536 17.7955C11.9851 17.7188 11.7848 17.657 11.6527 17.6101C11.5206 17.5632 11.2841 17.4759 10.9432 17.348C10.6023 17.2202 10.3935 17.1435 10.3168 17.1179C9.48153 16.8196 8.7358 16.4659 8.07955 16.0568C6.99716 15.3835 5.87216 14.4631 4.70455 13.2955C3.53693 12.1278 2.61648 11.0028 1.94318 9.92045C1.53409 9.2642 1.1804 8.51847 0.882102 7.68324C0.856534 7.60653 0.77983 7.39773 0.651989 7.05682C0.524148 6.71591 0.43679 6.4794 0.389915 6.3473C0.34304 6.2152 0.28125 6.01491 0.204545 5.74645C0.127841 5.47798 0.0745739 5.23295 0.0447443 5.01136C0.0149148 4.78977 0 4.56392 0 4.33381C0 3.54972 0.21733 2.7571 0.651989 1.95597C1.12926 1.09517 1.58097 0.575284 2.0071 0.396307C2.22017 0.302557 2.51207 0.213068 2.88281 0.127841C3.25355 0.0426136 3.55398 0 3.78409 0C3.90341 0 3.9929 0.0127841 4.05256 0.0383523C4.20597 0.0894886 4.43182 0.413352 4.73011 1.00994C4.82386 1.17188 4.9517 1.40199 5.11364 1.70028C5.27557 1.99858 5.42472 2.26918 5.56108 2.51207C5.69744 2.75497 5.82955 2.98295 5.95739 3.19602C5.98295 3.23011 6.05753 3.33665 6.18111 3.51562C6.30469 3.6946 6.39631 3.84588 6.45597 3.96946C6.51562 4.09304 6.54545 4.21449 6.54545 4.33381C6.54545 4.50426 6.42401 4.71733 6.18111 4.97301C5.93821 5.22869 5.67401 5.46307 5.38849 5.67614C5.10298 5.8892 4.83878 6.11506 4.59588 6.35369C4.35298 6.59233 4.23153 6.78835 4.23153 6.94176C4.23153 7.01847 4.25284 7.11435 4.29545 7.2294C4.33807 7.34446 4.37429 7.43182 4.40412 7.49148C4.43395 7.55114 4.49361 7.65341 4.5831 7.7983C4.67259 7.94318 4.72159 8.02415 4.73011 8.04119C5.37784 9.20881 6.11932 10.2102 6.95455 11.0455C7.78977 11.8807 8.79119 12.6222 9.95881 13.2699C9.97585 13.2784 10.0568 13.3274 10.2017 13.4169C10.3466 13.5064 10.4489 13.5661 10.5085 13.5959C10.5682 13.6257 10.6555 13.6619 10.7706 13.7045C10.8857 13.7472 10.9815 13.7685 11.0582 13.7685C11.2116 13.7685 11.4077 13.647 11.6463 13.4041C11.8849 13.1612 12.1108 12.897 12.3239 12.6115C12.5369 12.326 12.7713 12.0618 13.027 11.8189C13.2827 11.576 13.4957 11.4545 13.6662 11.4545C13.7855 11.4545 13.907 11.4844 14.0305 11.544C14.1541 11.6037 14.3054 11.6953 14.4844 11.8189C14.6634 11.9425 14.7699 12.017 14.804 12.0426C15.017 12.1705 15.245 12.3026 15.4879 12.4389C15.7308 12.5753 16.0014 12.7244 16.2997 12.8864C16.598 13.0483 16.8281 13.1761 16.9901 13.2699C17.5866 13.5682 17.9105 13.794 17.9616 13.9474C17.9872 14.0071 18 14.0966 18 14.2159Z" fill="#6DE786"/>
                        </svg>
                        <span>
                            вызов
                        </span>
                    </a>
                </div>
                <!-- /.contact-card-social-item -->
            </div>
            <!-- /.contact-card-social -->
            <div class="contact-card-mail">
                <div class="contact-card-mail-title">
                    e-mail
                </div>
                <!-- /.contact-card-mail-title -->
                <div class="contact-card-mail-link">
                    <a {% verbatim %}:href="`mailto:${ contacts?.emails ? contacts?.emails[0] : 'info@blacklight.ru' }`{% endverbatim %}"> 
                            {% verbatim %}
                                {{ contacts?.emails ? contacts?.emails[0] : 'info@blacklight.ru' }}
                            {% endverbatim %}</a>
                </div>
                <!-- /.contact-card-mail-link -->
            </div>
            <!-- /.contact-card-mail -->
{#            <a href="yandexmaps://maps.yandex.ru/?ll=55.77661356894088,37.674839999999975&z=12" class="contact-card-address">#}
            <a href="https://yandex.ru/maps/?ll=55.77661356894088,37.674839999999975&z=12&l=map" class="contact-card-address">
                <div class="contact-card-address-text">
                    <div class="contact-card-address-title">
                    Адрес:
                    </div>
                    {% verbatim %} {{contacts.address}} {% endverbatim %}
                </div>
                <!-- /.contact-card-address-text -->
                <div class="contact-card-address-map">
                    <img src="/src/img/design/icons/mini-map.jpg" srcset="/src/img/design/icons/mini-map@2x.png 2x" alt="img">
                </div>
                <!-- /.contact-card-address-map -->
            </a>
            <!-- /.contact-card-address -->
        </div>
        <!-- /.window-contact-card -->
    </div>
    <!-- /.window-content -->
    <div class="window-footer">
        <svg width="94" height="20" viewBox="0 0 94 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_364_4932)">
                <path d="M26.2858 4.09524V5.33333C25.4286 4.57143 24.4762 4 22.8572 4C19.6191 4 17.0477 6.57143 17.0477 9.80952C17.0477 13.0476 19.5239 15.619 22.8572 15.619C24.762 15.619 25.7143 14.8571 26.2858 14.2857V15.5238H28.9524V4.09524H26.2858ZM22.9524 12.9524C21.2381 12.9524 19.8096 11.5238 19.8096 9.80952C19.8096 8.09524 21.2381 6.66667 22.9524 6.66667C24.6667 6.66667 26.0953 8.09524 26.0953 9.80952C26.0953 11.5238 24.6667 12.9524 22.9524 12.9524ZM36.0953 15.619C34.5715 15.619 33.1429 15.0476 32 13.9048C29.7143 11.619 29.7143 7.90476 32 5.71429C33.1429 4.57143 34.5715 4 36.0953 4C37.6191 4 39.1429 4.57143 40.1905 5.71429C40.381 5.90476 40.5715 6.19048 40.762 6.38095L38.6667 7.90476C38.5715 7.80952 38.4762 7.61905 38.381 7.52381C37.8096 6.95238 36.9524 6.57143 36.0953 6.57143C35.2381 6.57143 34.4762 6.85714 33.8096 7.52381C32.5715 8.7619 32.5715 10.7619 33.8096 12C35.0477 13.2381 37.0477 13.2381 38.2858 12C38.381 11.9048 38.4762 11.8095 38.5715 11.7143L40.6667 13.3333C40.4762 13.5238 40.381 13.7143 40.1905 13.9048C39.0477 15.0476 37.6191 15.619 36.0953 15.619Z" fill="black"/>
                <path d="M15.9045 0H13.238V15.524H15.9045V0Z" fill="black"/>
                <path d="M57.1425 0H54.476V15.524H57.1425V0Z" fill="black"/>
                <path d="M6 4C4.38095 4 3.42857 4.57143 2.57143 5.33333V0H0V15.5238H2.66667V14.2857C3.2381 14.8571 4.09524 15.619 6.09524 15.619C9.42857 15.619 11.9048 13.0476 11.9048 9.80952C11.8095 6.57143 9.2381 4 6 4ZM6 12.9524C4.28571 12.9524 2.85714 11.5238 2.85714 9.80952C2.85714 8.09524 4.28571 6.66667 6 6.66667C7.71429 6.66667 9.14286 8.09524 9.14286 9.80952C9.2381 11.5238 7.80952 12.9524 6 12.9524ZM64.2857 17.3333V20H75.3333L71.9048 14.4762C73.3333 13.4286 74.2857 11.7143 74.2857 9.80952C74.2857 6.57143 71.7143 4 68.4762 4C65.2381 4 62.6667 6.57143 62.6667 9.80952C62.6667 13.0476 65.2381 15.619 68.4762 15.619C68.7619 15.619 69.1429 15.619 69.4286 15.5238L70.5714 17.3333H64.2857ZM65.4286 9.80952C65.4286 8.09524 66.8571 6.66667 68.5714 6.66667C70.2857 6.66667 71.7143 8.09524 71.7143 9.80952C71.7143 11.5238 70.2857 12.9524 68.5714 12.9524C66.8571 12.9524 65.4286 11.5238 65.4286 9.80952Z" fill="black"/>
                <path d="M61.5235 4.09497H58.857V15.5235H61.5235V4.09497Z" fill="black"/>
                <path d="M60.1904 3.048C61.0321 3.048 61.7144 2.36568 61.7144 1.524C61.7144 0.682318 61.0321 0 60.1904 0C59.3488 0 58.6664 0.682318 58.6664 1.524C58.6664 2.36568 59.3488 3.048 60.1904 3.048Z" fill="black"/>
                <path d="M75.7143 15.5238H78.381V9.04762C78.381 7.71429 79.4286 6.66667 80.7619 6.66667C82.0952 6.66667 83.1429 7.71429 83.1429 9.04762V15.5238H85.8095V9.04762C85.8095 6.28571 83.5238 4 80.7619 4C79.9048 4 79.0476 4.19048 78.381 4.57143V0H75.7143V15.5238ZM87.1429 0V10.4762C87.1429 13.2381 89.3333 15.4286 92.0952 15.5238H93.3333V12.8571H92.1905C90.8571 12.8571 89.8095 11.7143 89.8095 10.4762V6.66667H93.3333V4H89.8095V0H87.1429Z" fill="black"/>
                <path d="M42.1906 15.524H44.7621V12.095L46.1906 10.762L49.7146 15.524H52.9526L48.0951 8.857L52.8571 4.095H49.1431L44.7621 8.381V0H42.1906V15.524Z" fill="black"/>
            </g>
            <defs>
                <clipPath id="clip0_364_4932">
                    <rect width="93.5" height="20" fill="white"/>
                </clipPath>
            </defs>
        </svg>
    </div>
    <!-- /.window-footer -->
</div>
<!-- /.window -->

<div class="window window-cases">
    <div class="window-header">
        <div class="window-header-back">
            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 16.5L1 9L9 1.5" stroke="#6DE786" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span>Назад</span>
        </div>
        <!-- /.window-header-back -->
        <div class="window-header-title">
            Кейсы
        </div>
        <!-- /.window-header-title -->
    </div>
    <!-- /.window-header -->
    <div class="window-content">
        <div class="folder-content">
            <div class="folder-content-title">
                КЕЙСЫ
            </div>
            <!-- /.folder-content-title -->
            <div class="folder-content-list" id="cases">

                <a {% verbatim %} v-bind:href="item.pdf_mobile + '#toolbar=0&navpanes=0&scrollbar=0'"{% endverbatim %} v-on:pointerdown="event.peventDefault()" target="_blank" class="folder-content-list-item" {% verbatim %} v-for="(item, index) in info" {% endverbatim %}>
                    <div class="folder-content-list-item-main">
                        <div class="folder-content-list-item-main-title">
                            {% verbatim %}{{ item.client }}{% endverbatim %}
                        </div>
                        <!-- /.folder-content-list-item-main-title -->
                        <div class="folder-content-list-item-main-description">
                            {% verbatim %}{{ item.name }}{% endverbatim %}
                        </div>
                        <!-- /.folder-content-list-item-main-description -->
                    </div>
                    <!-- /.folder-content-list-item-main -->
                    <div class="folder-content-list-item-year">
                            <span>
                                {% verbatim %}{{ item.date_at.substr(0, 4) }}{% endverbatim %}
                            </span>
                        <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 7.5C9 7.29248 8.91699 7.10156 8.75928 6.95215L2.18506 0.510742C2.03564 0.369629 1.85303 0.294922 1.63721 0.294922C1.21387 0.294922 0.881836 0.618652 0.881836 1.05029C0.881836 1.25781 0.964844 1.44873 1.09766 1.58984L7.14062 7.5L1.09766 13.4102C0.964844 13.5513 0.881836 13.7339 0.881836 13.9497C0.881836 14.3813 1.21387 14.7051 1.63721 14.7051C1.85303 14.7051 2.03564 14.6304 2.18506 14.481L8.75928 8.04785C8.91699 7.89014 9 7.70752 9 7.5Z" fill="#3C3C43" fill-opacity="0.3"/>
                        </svg>
                    </div>
                    <!-- /.folder-content-list-item-year -->
                </a>
                <!-- /.folder-content-list-item -->

            </div>
            <!-- /.folder-content-list -->
        </div>
        <!-- /.folder-content -->
    </div>
    <!-- /.window-content -->
    <div class="window-footer">
        <svg width="94" height="20" viewBox="0 0 94 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_364_4932)">
                <path d="M26.2858 4.09524V5.33333C25.4286 4.57143 24.4762 4 22.8572 4C19.6191 4 17.0477 6.57143 17.0477 9.80952C17.0477 13.0476 19.5239 15.619 22.8572 15.619C24.762 15.619 25.7143 14.8571 26.2858 14.2857V15.5238H28.9524V4.09524H26.2858ZM22.9524 12.9524C21.2381 12.9524 19.8096 11.5238 19.8096 9.80952C19.8096 8.09524 21.2381 6.66667 22.9524 6.66667C24.6667 6.66667 26.0953 8.09524 26.0953 9.80952C26.0953 11.5238 24.6667 12.9524 22.9524 12.9524ZM36.0953 15.619C34.5715 15.619 33.1429 15.0476 32 13.9048C29.7143 11.619 29.7143 7.90476 32 5.71429C33.1429 4.57143 34.5715 4 36.0953 4C37.6191 4 39.1429 4.57143 40.1905 5.71429C40.381 5.90476 40.5715 6.19048 40.762 6.38095L38.6667 7.90476C38.5715 7.80952 38.4762 7.61905 38.381 7.52381C37.8096 6.95238 36.9524 6.57143 36.0953 6.57143C35.2381 6.57143 34.4762 6.85714 33.8096 7.52381C32.5715 8.7619 32.5715 10.7619 33.8096 12C35.0477 13.2381 37.0477 13.2381 38.2858 12C38.381 11.9048 38.4762 11.8095 38.5715 11.7143L40.6667 13.3333C40.4762 13.5238 40.381 13.7143 40.1905 13.9048C39.0477 15.0476 37.6191 15.619 36.0953 15.619Z" fill="black"/>
                <path d="M15.9045 0H13.238V15.524H15.9045V0Z" fill="black"/>
                <path d="M57.1425 0H54.476V15.524H57.1425V0Z" fill="black"/>
                <path d="M6 4C4.38095 4 3.42857 4.57143 2.57143 5.33333V0H0V15.5238H2.66667V14.2857C3.2381 14.8571 4.09524 15.619 6.09524 15.619C9.42857 15.619 11.9048 13.0476 11.9048 9.80952C11.8095 6.57143 9.2381 4 6 4ZM6 12.9524C4.28571 12.9524 2.85714 11.5238 2.85714 9.80952C2.85714 8.09524 4.28571 6.66667 6 6.66667C7.71429 6.66667 9.14286 8.09524 9.14286 9.80952C9.2381 11.5238 7.80952 12.9524 6 12.9524ZM64.2857 17.3333V20H75.3333L71.9048 14.4762C73.3333 13.4286 74.2857 11.7143 74.2857 9.80952C74.2857 6.57143 71.7143 4 68.4762 4C65.2381 4 62.6667 6.57143 62.6667 9.80952C62.6667 13.0476 65.2381 15.619 68.4762 15.619C68.7619 15.619 69.1429 15.619 69.4286 15.5238L70.5714 17.3333H64.2857ZM65.4286 9.80952C65.4286 8.09524 66.8571 6.66667 68.5714 6.66667C70.2857 6.66667 71.7143 8.09524 71.7143 9.80952C71.7143 11.5238 70.2857 12.9524 68.5714 12.9524C66.8571 12.9524 65.4286 11.5238 65.4286 9.80952Z" fill="black"/>
                <path d="M61.5235 4.09497H58.857V15.5235H61.5235V4.09497Z" fill="black"/>
                <path d="M60.1904 3.048C61.0321 3.048 61.7144 2.36568 61.7144 1.524C61.7144 0.682318 61.0321 0 60.1904 0C59.3488 0 58.6664 0.682318 58.6664 1.524C58.6664 2.36568 59.3488 3.048 60.1904 3.048Z" fill="black"/>
                <path d="M75.7143 15.5238H78.381V9.04762C78.381 7.71429 79.4286 6.66667 80.7619 6.66667C82.0952 6.66667 83.1429 7.71429 83.1429 9.04762V15.5238H85.8095V9.04762C85.8095 6.28571 83.5238 4 80.7619 4C79.9048 4 79.0476 4.19048 78.381 4.57143V0H75.7143V15.5238ZM87.1429 0V10.4762C87.1429 13.2381 89.3333 15.4286 92.0952 15.5238H93.3333V12.8571H92.1905C90.8571 12.8571 89.8095 11.7143 89.8095 10.4762V6.66667H93.3333V4H89.8095V0H87.1429Z" fill="black"/>
                <path d="M42.1906 15.524H44.7621V12.095L46.1906 10.762L49.7146 15.524H52.9526L48.0951 8.857L52.8571 4.095H49.1431L44.7621 8.381V0H42.1906V15.524Z" fill="black"/>
            </g>
            <defs>
                <clipPath id="clip0_364_4932">
                    <rect width="93.5" height="20" fill="white"/>
                </clipPath>
            </defs>
        </svg>
    </div>
    <!-- /.window-footer -->
</div>
<!-- /.window -->


<div class="window window-team">
    <div class="window-header">
        <div class="window-header-back">
            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 16.5L1 9L9 1.5" stroke="#6DE786" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span>Назад</span>
        </div>
        <!-- /.window-header-back -->
        <div class="window-header-title">
            Команда
        </div>
        <!-- /.window-header-title -->
    </div>
    <!-- /.window-header -->
    <div class="window-content">
        <div class="team" id="team">
            <div class="team-item"  v-for="(item, index) in info">
                <div class="team-card" {% verbatim %} v-on:click="openMore(index)" {% endverbatim %}>
                    <div class="team-card-photo">
                        {% verbatim %}<img :src="item.photo" alt="img">{% endverbatim %}
                    </div>
                    <!-- /.team-card-photo -->
                    <div class="team-card-info">
                        <div class="team-card-info-name">
                            {% verbatim %}{{ item.name | nameOnly }}{% endverbatim %}
                        </div>
                        <!-- /.team-card-info-name -->
                        <div class="team-card-info-logo">
                            <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.43158 11.6667V14H11.2L8.16842 9.16667C9.43158 8.25 10.2737 6.75 10.2737 5.08333C10.2737 2.25 8 0 5.13684 0C2.27368 0 0 2.25 0 5.08333C0 7.91667 2.27368 10.1667 5.13684 10.1667C5.38947 10.1667 5.72632 10.1667 5.97895 10.0833L6.98947 11.6667H1.43158ZM2.44211 5.08333C2.44211 3.58333 3.70526 2.33333 5.22105 2.33333C6.73684 2.33333 8 3.58333 8 5.08333C8 6.58333 6.73684 7.83333 5.22105 7.83333C3.70526 7.83333 2.44211 6.58333 2.44211 5.08333Z" fill="white"/>
                            </svg>
                        </div>
                        <!-- /.team-card-info-logo -->
                    </div>
                    <!-- /.team-card-info -->
                </div>
                <!-- /.team-card -->
            </div>
            <!-- /.team-item -->
        </div>
        <!-- /.team -->
    </div>
    <!-- /.window-content -->
    <div class="window-footer">
        <svg width="94" height="20" viewBox="0 0 94 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_364_4932)">
                <path d="M26.2858 4.09524V5.33333C25.4286 4.57143 24.4762 4 22.8572 4C19.6191 4 17.0477 6.57143 17.0477 9.80952C17.0477 13.0476 19.5239 15.619 22.8572 15.619C24.762 15.619 25.7143 14.8571 26.2858 14.2857V15.5238H28.9524V4.09524H26.2858ZM22.9524 12.9524C21.2381 12.9524 19.8096 11.5238 19.8096 9.80952C19.8096 8.09524 21.2381 6.66667 22.9524 6.66667C24.6667 6.66667 26.0953 8.09524 26.0953 9.80952C26.0953 11.5238 24.6667 12.9524 22.9524 12.9524ZM36.0953 15.619C34.5715 15.619 33.1429 15.0476 32 13.9048C29.7143 11.619 29.7143 7.90476 32 5.71429C33.1429 4.57143 34.5715 4 36.0953 4C37.6191 4 39.1429 4.57143 40.1905 5.71429C40.381 5.90476 40.5715 6.19048 40.762 6.38095L38.6667 7.90476C38.5715 7.80952 38.4762 7.61905 38.381 7.52381C37.8096 6.95238 36.9524 6.57143 36.0953 6.57143C35.2381 6.57143 34.4762 6.85714 33.8096 7.52381C32.5715 8.7619 32.5715 10.7619 33.8096 12C35.0477 13.2381 37.0477 13.2381 38.2858 12C38.381 11.9048 38.4762 11.8095 38.5715 11.7143L40.6667 13.3333C40.4762 13.5238 40.381 13.7143 40.1905 13.9048C39.0477 15.0476 37.6191 15.619 36.0953 15.619Z" fill="black"/>
                <path d="M15.9045 0H13.238V15.524H15.9045V0Z" fill="black"/>
                <path d="M57.1425 0H54.476V15.524H57.1425V0Z" fill="black"/>
                <path d="M6 4C4.38095 4 3.42857 4.57143 2.57143 5.33333V0H0V15.5238H2.66667V14.2857C3.2381 14.8571 4.09524 15.619 6.09524 15.619C9.42857 15.619 11.9048 13.0476 11.9048 9.80952C11.8095 6.57143 9.2381 4 6 4ZM6 12.9524C4.28571 12.9524 2.85714 11.5238 2.85714 9.80952C2.85714 8.09524 4.28571 6.66667 6 6.66667C7.71429 6.66667 9.14286 8.09524 9.14286 9.80952C9.2381 11.5238 7.80952 12.9524 6 12.9524ZM64.2857 17.3333V20H75.3333L71.9048 14.4762C73.3333 13.4286 74.2857 11.7143 74.2857 9.80952C74.2857 6.57143 71.7143 4 68.4762 4C65.2381 4 62.6667 6.57143 62.6667 9.80952C62.6667 13.0476 65.2381 15.619 68.4762 15.619C68.7619 15.619 69.1429 15.619 69.4286 15.5238L70.5714 17.3333H64.2857ZM65.4286 9.80952C65.4286 8.09524 66.8571 6.66667 68.5714 6.66667C70.2857 6.66667 71.7143 8.09524 71.7143 9.80952C71.7143 11.5238 70.2857 12.9524 68.5714 12.9524C66.8571 12.9524 65.4286 11.5238 65.4286 9.80952Z" fill="black"/>
                <path d="M61.5235 4.09497H58.857V15.5235H61.5235V4.09497Z" fill="black"/>
                <path d="M60.1904 3.048C61.0321 3.048 61.7144 2.36568 61.7144 1.524C61.7144 0.682318 61.0321 0 60.1904 0C59.3488 0 58.6664 0.682318 58.6664 1.524C58.6664 2.36568 59.3488 3.048 60.1904 3.048Z" fill="black"/>
                <path d="M75.7143 15.5238H78.381V9.04762C78.381 7.71429 79.4286 6.66667 80.7619 6.66667C82.0952 6.66667 83.1429 7.71429 83.1429 9.04762V15.5238H85.8095V9.04762C85.8095 6.28571 83.5238 4 80.7619 4C79.9048 4 79.0476 4.19048 78.381 4.57143V0H75.7143V15.5238ZM87.1429 0V10.4762C87.1429 13.2381 89.3333 15.4286 92.0952 15.5238H93.3333V12.8571H92.1905C90.8571 12.8571 89.8095 11.7143 89.8095 10.4762V6.66667H93.3333V4H89.8095V0H87.1429Z" fill="black"/>
                <path d="M42.1906 15.524H44.7621V12.095L46.1906 10.762L49.7146 15.524H52.9526L48.0951 8.857L52.8571 4.095H49.1431L44.7621 8.381V0H42.1906V15.524Z" fill="black"/>
            </g>
            <defs>
                <clipPath id="clip0_364_4932">
                    <rect width="93.5" height="20" fill="white"/>
                </clipPath>
            </defs>
        </svg>
    </div>
    <!-- /.window-footer -->
</div>
<!-- /.window -->

<div class="window window-awards">
    <div class="window-header">
        <div class="window-header-back">
            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 16.5L1 9L9 1.5" stroke="#6DE786" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span>Назад</span>
        </div>
        <!-- /.window-header-back -->
        <div class="window-header-title">
            Награды
        </div>
        <!-- /.window-header-title -->
    </div>
    <!-- /.window-header -->
    <div class="window-content">
        <div class="folder-content">
            <div class="folder-content-title">
                Награды
            </div>
            <!-- /.folder-content-title -->
            <div class="folder-content-list" id="awards">

                <div class="folder-content-list-item"  v-for="(item, index) in info" {% verbatim %} v-on:click="openMore(index)" {% endverbatim %}>
                    <div class="folder-content-list-item-main">
                        <div class="folder-content-list-item-main-title">
                            {% verbatim %}{{ item.festival }} / {{ item.type }}{% endverbatim %}
                        </div>
                        <!-- /.folder-content-list-item-main-title -->
                        <div class="folder-content-list-item-main-description">
                            {% verbatim %}{{ item.work_title }}{% endverbatim %}
                        </div>
                        <!-- /.folder-content-list-item-main-description -->
                    </div>
                    <!-- /.folder-content-list-item-main -->
                    <div class="folder-content-list-item-indicator">
                        <div {% verbatim %} v-if="item.category == 'Золото'" {% endverbatim %}  class="indicator indicator--1"></div>
                        <div {% verbatim %} v-if="item.category == 'Серебро'" {% endverbatim %}  class="indicator indicator--2"></div>
                        <div {% verbatim %} v-if="item.category == 'Бронза'" {% endverbatim %}  class="indicator indicator--3"></div>
                    </div>
                    <!-- /.folder-content-list-item-indicator -->
                    <div class="folder-content-list-item-year">
                        <span>
                            {% verbatim %}{{ item.year }}{% endverbatim %}
                        </span>
                        <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 7.5C9 7.29248 8.91699 7.10156 8.75928 6.95215L2.18506 0.510742C2.03564 0.369629 1.85303 0.294922 1.63721 0.294922C1.21387 0.294922 0.881836 0.618652 0.881836 1.05029C0.881836 1.25781 0.964844 1.44873 1.09766 1.58984L7.14062 7.5L1.09766 13.4102C0.964844 13.5513 0.881836 13.7339 0.881836 13.9497C0.881836 14.3813 1.21387 14.7051 1.63721 14.7051C1.85303 14.7051 2.03564 14.6304 2.18506 14.481L8.75928 8.04785C8.91699 7.89014 9 7.70752 9 7.5Z" fill="#3C3C43" fill-opacity="0.3"/>
                        </svg>
                    </div>
                    <!-- /.folder-content-list-item-year -->
                </div>
                <!-- /.folder-content-list-item -->

            </div>
            <!-- /.folder-content-list -->
        </div>
        <!-- /.folder-content -->
    </div>
    <!-- /.window-content -->
    <div class="window-footer">
        <svg width="94" height="20" viewBox="0 0 94 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_364_4932)">
                <path d="M26.2858 4.09524V5.33333C25.4286 4.57143 24.4762 4 22.8572 4C19.6191 4 17.0477 6.57143 17.0477 9.80952C17.0477 13.0476 19.5239 15.619 22.8572 15.619C24.762 15.619 25.7143 14.8571 26.2858 14.2857V15.5238H28.9524V4.09524H26.2858ZM22.9524 12.9524C21.2381 12.9524 19.8096 11.5238 19.8096 9.80952C19.8096 8.09524 21.2381 6.66667 22.9524 6.66667C24.6667 6.66667 26.0953 8.09524 26.0953 9.80952C26.0953 11.5238 24.6667 12.9524 22.9524 12.9524ZM36.0953 15.619C34.5715 15.619 33.1429 15.0476 32 13.9048C29.7143 11.619 29.7143 7.90476 32 5.71429C33.1429 4.57143 34.5715 4 36.0953 4C37.6191 4 39.1429 4.57143 40.1905 5.71429C40.381 5.90476 40.5715 6.19048 40.762 6.38095L38.6667 7.90476C38.5715 7.80952 38.4762 7.61905 38.381 7.52381C37.8096 6.95238 36.9524 6.57143 36.0953 6.57143C35.2381 6.57143 34.4762 6.85714 33.8096 7.52381C32.5715 8.7619 32.5715 10.7619 33.8096 12C35.0477 13.2381 37.0477 13.2381 38.2858 12C38.381 11.9048 38.4762 11.8095 38.5715 11.7143L40.6667 13.3333C40.4762 13.5238 40.381 13.7143 40.1905 13.9048C39.0477 15.0476 37.6191 15.619 36.0953 15.619Z" fill="black"/>
                <path d="M15.9045 0H13.238V15.524H15.9045V0Z" fill="black"/>
                <path d="M57.1425 0H54.476V15.524H57.1425V0Z" fill="black"/>
                <path d="M6 4C4.38095 4 3.42857 4.57143 2.57143 5.33333V0H0V15.5238H2.66667V14.2857C3.2381 14.8571 4.09524 15.619 6.09524 15.619C9.42857 15.619 11.9048 13.0476 11.9048 9.80952C11.8095 6.57143 9.2381 4 6 4ZM6 12.9524C4.28571 12.9524 2.85714 11.5238 2.85714 9.80952C2.85714 8.09524 4.28571 6.66667 6 6.66667C7.71429 6.66667 9.14286 8.09524 9.14286 9.80952C9.2381 11.5238 7.80952 12.9524 6 12.9524ZM64.2857 17.3333V20H75.3333L71.9048 14.4762C73.3333 13.4286 74.2857 11.7143 74.2857 9.80952C74.2857 6.57143 71.7143 4 68.4762 4C65.2381 4 62.6667 6.57143 62.6667 9.80952C62.6667 13.0476 65.2381 15.619 68.4762 15.619C68.7619 15.619 69.1429 15.619 69.4286 15.5238L70.5714 17.3333H64.2857ZM65.4286 9.80952C65.4286 8.09524 66.8571 6.66667 68.5714 6.66667C70.2857 6.66667 71.7143 8.09524 71.7143 9.80952C71.7143 11.5238 70.2857 12.9524 68.5714 12.9524C66.8571 12.9524 65.4286 11.5238 65.4286 9.80952Z" fill="black"/>
                <path d="M61.5235 4.09497H58.857V15.5235H61.5235V4.09497Z" fill="black"/>
                <path d="M60.1904 3.048C61.0321 3.048 61.7144 2.36568 61.7144 1.524C61.7144 0.682318 61.0321 0 60.1904 0C59.3488 0 58.6664 0.682318 58.6664 1.524C58.6664 2.36568 59.3488 3.048 60.1904 3.048Z" fill="black"/>
                <path d="M75.7143 15.5238H78.381V9.04762C78.381 7.71429 79.4286 6.66667 80.7619 6.66667C82.0952 6.66667 83.1429 7.71429 83.1429 9.04762V15.5238H85.8095V9.04762C85.8095 6.28571 83.5238 4 80.7619 4C79.9048 4 79.0476 4.19048 78.381 4.57143V0H75.7143V15.5238ZM87.1429 0V10.4762C87.1429 13.2381 89.3333 15.4286 92.0952 15.5238H93.3333V12.8571H92.1905C90.8571 12.8571 89.8095 11.7143 89.8095 10.4762V6.66667H93.3333V4H89.8095V0H87.1429Z" fill="black"/>
                <path d="M42.1906 15.524H44.7621V12.095L46.1906 10.762L49.7146 15.524H52.9526L48.0951 8.857L52.8571 4.095H49.1431L44.7621 8.381V0H42.1906V15.524Z" fill="black"/>
            </g>
            <defs>
                <clipPath id="clip0_364_4932">
                    <rect width="93.5" height="20" fill="white"/>
                </clipPath>
            </defs>
        </svg>
    </div>
    <!-- /.window-footer -->
</div>
<!-- /.window -->

<div class="team-full" id="team-full">
    <div class="team-full-item" v-for="item in info">
        <div class="window window-team-open">
            <div class="window-header">
                <div class="window-header-back" {% verbatim %} v-on:click="closeMore"{% endverbatim %}>
                    <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 16.5L1 9L9 1.5" stroke="#6DE786" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Назад</span>
                </div>
                <!-- /.window-header-back -->
                <div class="window-header-title">
                    Команда
                </div>
                <!-- /.window-header-title -->
            </div>
            <!-- /.window-header -->
            <div class="window-content">
                <div class="window-team-open-photo">
                    {% verbatim %}<img :src="item.photo" alt="img">{% endverbatim %}
                </div>
                <!-- /.window-team-open-photo -->
                <div class="window-team-open-name">
                    {% verbatim %}{{ item.name }}{% endverbatim %}
                </div>
                <!-- /.window-team-open-name -->
                <div class="window-team-open-position">
                    {% verbatim %}{{ item.position }}{% endverbatim %}
                </div>
                <!-- /.window-team-open-position -->
                <div class="window-team-open-contact">
                    <div class="window-team-open-contact-item">
                        <div class="window-team-open-contact-item-label">
                            офисный
                        </div>
                        <!-- /.window-team-open-contact-item-label -->
                        <div class="window-team-open-contact-item-link">
                            <a href="tel:+7 499 340 33 83">
                                +7 499 340 33 83
                            </a>
                        </div>
                        <!-- /.window-team-open-contact-item-link -->
                    </div>
                    <!-- /.window-team-open-contact-item -->
                    <div class="window-team-open-contact-item">
                        <div class="window-team-open-contact-item-label">
                            e-mail
                        </div>
                        <!-- /.window-team-open-contact-item-label -->
                        <div class="window-team-open-contact-item-link">
                            <a href="mailto:info@blacklight.ru">
                                info@blacklight.ru
                            </a>
                        </div>
                        <!-- /.window-team-open-contact-item-link -->
                    </div>
                    <!-- /.window-team-open-contact-item -->
                </div>
                <!-- /.window-team-open-contact -->
            </div>
            <!-- /.window-content -->
            <div class="window-footer">
                <svg width="94" height="20" viewBox="0 0 94 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_364_4932)">
                        <path d="M26.2858 4.09524V5.33333C25.4286 4.57143 24.4762 4 22.8572 4C19.6191 4 17.0477 6.57143 17.0477 9.80952C17.0477 13.0476 19.5239 15.619 22.8572 15.619C24.762 15.619 25.7143 14.8571 26.2858 14.2857V15.5238H28.9524V4.09524H26.2858ZM22.9524 12.9524C21.2381 12.9524 19.8096 11.5238 19.8096 9.80952C19.8096 8.09524 21.2381 6.66667 22.9524 6.66667C24.6667 6.66667 26.0953 8.09524 26.0953 9.80952C26.0953 11.5238 24.6667 12.9524 22.9524 12.9524ZM36.0953 15.619C34.5715 15.619 33.1429 15.0476 32 13.9048C29.7143 11.619 29.7143 7.90476 32 5.71429C33.1429 4.57143 34.5715 4 36.0953 4C37.6191 4 39.1429 4.57143 40.1905 5.71429C40.381 5.90476 40.5715 6.19048 40.762 6.38095L38.6667 7.90476C38.5715 7.80952 38.4762 7.61905 38.381 7.52381C37.8096 6.95238 36.9524 6.57143 36.0953 6.57143C35.2381 6.57143 34.4762 6.85714 33.8096 7.52381C32.5715 8.7619 32.5715 10.7619 33.8096 12C35.0477 13.2381 37.0477 13.2381 38.2858 12C38.381 11.9048 38.4762 11.8095 38.5715 11.7143L40.6667 13.3333C40.4762 13.5238 40.381 13.7143 40.1905 13.9048C39.0477 15.0476 37.6191 15.619 36.0953 15.619Z" fill="black"/>
                        <path d="M15.9045 0H13.238V15.524H15.9045V0Z" fill="black"/>
                        <path d="M57.1425 0H54.476V15.524H57.1425V0Z" fill="black"/>
                        <path d="M6 4C4.38095 4 3.42857 4.57143 2.57143 5.33333V0H0V15.5238H2.66667V14.2857C3.2381 14.8571 4.09524 15.619 6.09524 15.619C9.42857 15.619 11.9048 13.0476 11.9048 9.80952C11.8095 6.57143 9.2381 4 6 4ZM6 12.9524C4.28571 12.9524 2.85714 11.5238 2.85714 9.80952C2.85714 8.09524 4.28571 6.66667 6 6.66667C7.71429 6.66667 9.14286 8.09524 9.14286 9.80952C9.2381 11.5238 7.80952 12.9524 6 12.9524ZM64.2857 17.3333V20H75.3333L71.9048 14.4762C73.3333 13.4286 74.2857 11.7143 74.2857 9.80952C74.2857 6.57143 71.7143 4 68.4762 4C65.2381 4 62.6667 6.57143 62.6667 9.80952C62.6667 13.0476 65.2381 15.619 68.4762 15.619C68.7619 15.619 69.1429 15.619 69.4286 15.5238L70.5714 17.3333H64.2857ZM65.4286 9.80952C65.4286 8.09524 66.8571 6.66667 68.5714 6.66667C70.2857 6.66667 71.7143 8.09524 71.7143 9.80952C71.7143 11.5238 70.2857 12.9524 68.5714 12.9524C66.8571 12.9524 65.4286 11.5238 65.4286 9.80952Z" fill="black"/>
                        <path d="M61.5235 4.09497H58.857V15.5235H61.5235V4.09497Z" fill="black"/>
                        <path d="M60.1904 3.048C61.0321 3.048 61.7144 2.36568 61.7144 1.524C61.7144 0.682318 61.0321 0 60.1904 0C59.3488 0 58.6664 0.682318 58.6664 1.524C58.6664 2.36568 59.3488 3.048 60.1904 3.048Z" fill="black"/>
                        <path d="M75.7143 15.5238H78.381V9.04762C78.381 7.71429 79.4286 6.66667 80.7619 6.66667C82.0952 6.66667 83.1429 7.71429 83.1429 9.04762V15.5238H85.8095V9.04762C85.8095 6.28571 83.5238 4 80.7619 4C79.9048 4 79.0476 4.19048 78.381 4.57143V0H75.7143V15.5238ZM87.1429 0V10.4762C87.1429 13.2381 89.3333 15.4286 92.0952 15.5238H93.3333V12.8571H92.1905C90.8571 12.8571 89.8095 11.7143 89.8095 10.4762V6.66667H93.3333V4H89.8095V0H87.1429Z" fill="black"/>
                        <path d="M42.1906 15.524H44.7621V12.095L46.1906 10.762L49.7146 15.524H52.9526L48.0951 8.857L52.8571 4.095H49.1431L44.7621 8.381V0H42.1906V15.524Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_364_4932">
                            <rect width="93.5" height="20" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <!-- /.window-footer -->
        </div>
        <!-- /.window -->
    </div>
    <!-- /.team-full-item -->
</div>
<!-- /.team-full -->

<div class="awards-full" id="awards-full">
    <div class="awards-full-item" v-for="item in info">
        <div class="window window-awards-open">
            <div class="window-header">
                <div class="window-header-back" {% verbatim %} v-on:click="closeMore"{% endverbatim %}>
                    <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 16.5L1 9L9 1.5" stroke="#6DE786" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>Назад</span>
                </div>
                <!-- /.window-header-back -->
                <div class="window-header-title">
                    Награда
                </div>
                <!-- /.window-header-title -->
            </div>
            <!-- /.window-header -->
            <div class="window-content">
                <div class="window-awards-open-ico">
                    <div {% verbatim %} v-if="item.category == 'Золото'" {% endverbatim %}>
                        <img src="/src/img/design/icons/rewards/1.png" srcset="/src/img/design/icons/rewards/1@2x.png 2x" alt="img">
                    </div>
                    <div {% verbatim %} v-if="item.category == 'Серебро'" {% endverbatim %}>
                        <img src="/src/img/design/icons/rewards/2.png" srcset="/src/img/design/icons/rewards/2@2x.png 2x" alt="img">
                    </div>
                    <div {% verbatim %} v-if="item.category == 'Бронза'" {% endverbatim %}>
                        <img src="/src/img/design/icons/rewards/3.png" srcset="/src/img/design/icons/rewards/3@2x.png 2x" alt="img">
                    </div>
                </div>
                <!-- /.window-awards-open-ico -->
                <div class="window-awards-open-name">
                    {% verbatim %}{{ item.festival }}{% endverbatim %}
                </div>
                <!-- /.window-awards-open-name -->
                <div class="window-awards-open-reward">
                    {% verbatim %}{{ item.category }}{% endverbatim %}
                </div>
                <!-- /.window-awards-open-reward -->
                <div class="window-awards-open-position">
                    {% verbatim %}{{ item.work_title }}{% endverbatim %}
                </div>
                <!-- /.window-awards-open-position -->
                <div class="window-awards-open-year">
                    {% verbatim %}{{ item.year }}{% endverbatim %}
                </div>
                <!-- /.window-awards-open-year -->
            </div>
            <!-- /.window-content -->
            <div class="window-footer">
                <svg width="94" height="20" viewBox="0 0 94 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_364_4932)">
                        <path d="M26.2858 4.09524V5.33333C25.4286 4.57143 24.4762 4 22.8572 4C19.6191 4 17.0477 6.57143 17.0477 9.80952C17.0477 13.0476 19.5239 15.619 22.8572 15.619C24.762 15.619 25.7143 14.8571 26.2858 14.2857V15.5238H28.9524V4.09524H26.2858ZM22.9524 12.9524C21.2381 12.9524 19.8096 11.5238 19.8096 9.80952C19.8096 8.09524 21.2381 6.66667 22.9524 6.66667C24.6667 6.66667 26.0953 8.09524 26.0953 9.80952C26.0953 11.5238 24.6667 12.9524 22.9524 12.9524ZM36.0953 15.619C34.5715 15.619 33.1429 15.0476 32 13.9048C29.7143 11.619 29.7143 7.90476 32 5.71429C33.1429 4.57143 34.5715 4 36.0953 4C37.6191 4 39.1429 4.57143 40.1905 5.71429C40.381 5.90476 40.5715 6.19048 40.762 6.38095L38.6667 7.90476C38.5715 7.80952 38.4762 7.61905 38.381 7.52381C37.8096 6.95238 36.9524 6.57143 36.0953 6.57143C35.2381 6.57143 34.4762 6.85714 33.8096 7.52381C32.5715 8.7619 32.5715 10.7619 33.8096 12C35.0477 13.2381 37.0477 13.2381 38.2858 12C38.381 11.9048 38.4762 11.8095 38.5715 11.7143L40.6667 13.3333C40.4762 13.5238 40.381 13.7143 40.1905 13.9048C39.0477 15.0476 37.6191 15.619 36.0953 15.619Z" fill="black"/>
                        <path d="M15.9045 0H13.238V15.524H15.9045V0Z" fill="black"/>
                        <path d="M57.1425 0H54.476V15.524H57.1425V0Z" fill="black"/>
                        <path d="M6 4C4.38095 4 3.42857 4.57143 2.57143 5.33333V0H0V15.5238H2.66667V14.2857C3.2381 14.8571 4.09524 15.619 6.09524 15.619C9.42857 15.619 11.9048 13.0476 11.9048 9.80952C11.8095 6.57143 9.2381 4 6 4ZM6 12.9524C4.28571 12.9524 2.85714 11.5238 2.85714 9.80952C2.85714 8.09524 4.28571 6.66667 6 6.66667C7.71429 6.66667 9.14286 8.09524 9.14286 9.80952C9.2381 11.5238 7.80952 12.9524 6 12.9524ZM64.2857 17.3333V20H75.3333L71.9048 14.4762C73.3333 13.4286 74.2857 11.7143 74.2857 9.80952C74.2857 6.57143 71.7143 4 68.4762 4C65.2381 4 62.6667 6.57143 62.6667 9.80952C62.6667 13.0476 65.2381 15.619 68.4762 15.619C68.7619 15.619 69.1429 15.619 69.4286 15.5238L70.5714 17.3333H64.2857ZM65.4286 9.80952C65.4286 8.09524 66.8571 6.66667 68.5714 6.66667C70.2857 6.66667 71.7143 8.09524 71.7143 9.80952C71.7143 11.5238 70.2857 12.9524 68.5714 12.9524C66.8571 12.9524 65.4286 11.5238 65.4286 9.80952Z" fill="black"/>
                        <path d="M61.5235 4.09497H58.857V15.5235H61.5235V4.09497Z" fill="black"/>
                        <path d="M60.1904 3.048C61.0321 3.048 61.7144 2.36568 61.7144 1.524C61.7144 0.682318 61.0321 0 60.1904 0C59.3488 0 58.6664 0.682318 58.6664 1.524C58.6664 2.36568 59.3488 3.048 60.1904 3.048Z" fill="black"/>
                        <path d="M75.7143 15.5238H78.381V9.04762C78.381 7.71429 79.4286 6.66667 80.7619 6.66667C82.0952 6.66667 83.1429 7.71429 83.1429 9.04762V15.5238H85.8095V9.04762C85.8095 6.28571 83.5238 4 80.7619 4C79.9048 4 79.0476 4.19048 78.381 4.57143V0H75.7143V15.5238ZM87.1429 0V10.4762C87.1429 13.2381 89.3333 15.4286 92.0952 15.5238H93.3333V12.8571H92.1905C90.8571 12.8571 89.8095 11.7143 89.8095 10.4762V6.66667H93.3333V4H89.8095V0H87.1429Z" fill="black"/>
                        <path d="M42.1906 15.524H44.7621V12.095L46.1906 10.762L49.7146 15.524H52.9526L48.0951 8.857L52.8571 4.095H49.1431L44.7621 8.381V0H42.1906V15.524Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_364_4932">
                            <rect width="93.5" height="20" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <!-- /.window-footer -->
        </div>
        <!-- /.window -->
    </div>
    <!-- /.team-full-item -->
</div>
<!-- /.team-full -->


